/* Start Global */
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-background: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  height: 100vh;
  background: var(--color-background);
  padding: 0px 200px;
  display:flex;
  flex-direction: column;
}

main {
  flex: 1;
}

span, strong {
  color: var(--color-white);
  font-weight: 600;
  background: var(--color-black);
}

/* End Global */


/* Start Header */
header {
  text-align: center;
  padding-top: 40px;
}

header h1 {
  margin-bottom: 50px;
  font-size: 3em;
}

header p {
  font-size: 1.2em;
  text-align: start;
  margin-bottom: 50px;
  line-height: 1.4em;
}

header p:last-child {
  margin-bottom: 0;
}

/* End Header */


/* Start Footer */
footer {
  padding: 20px 0px;
  text-align: center;
}
/* End Footer */



@media screen and (max-width: 1295px) {
  body {
    padding: 0px 100px;
  }
}

@media screen and (max-width: 1015px) {
  body {
    padding: 0px 8%;
  }
}

@media screen and (max-width: 650px) {
  body {
    padding: 0px 4%;
  }
}